*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2rem;
}
h1{
    text-align: center;
}
.minesweeper{
    width: 502px;
    height: 550px;
    margin: 0 auto;
    margin-top: 5px;
}
.board{
    width: 502px;
    height: 502px;
    border-left: 2px solid black;
    background-color: rgba(250, 248, 248, 0.945);
}
.board__head{
    display: flex;
    height: 50px;
    border: 2px solid black;
    border-bottom: none;
    justify-content: space-around;
    align-items: center;
}

.row{
    width: 100%;
    height: calc(500px/10);   
    display: flex;
    border-top: 2px solid black;
    border-right: none;
}
.cell{
    height: calc(500px/10); 
    width: calc(500px/10);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.cell:hover{
    background-color: rgb(222, 214, 214);
}