table, th,td{
    border: 1px solid black;
    font-size: 1.5rem;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
table .title{
    font-size: 2rem;
} 
table td:nth-child(1){
    width: 10%;
}
table td:nth-child(2){
    width: 45%;
}
table td:nth-child(3){
    width: 45%;
}